<div class="toc">
    {% for item in items %}
    <div class="toc-item toc-item-{{ item.level }}">
        <a class="toc-link" href="#{{ item.id }}">{{ item.text }}</a>
    </div>
    {% endfor %}
</div>