body {
    margin: 0;
    color: #343a40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #343a40;
}

body a {
    color: inherit;
}

body .container {
    border-top: 1px solid #eee;
    height: calc(100vh - 1px);
}
