.side-view .category {
    overflow-y: auto;
}

.category ul {
    list-style: none;
    padding: 0;
}

.category ul > li {
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: all;
}

.category ul > li:hover > a {
    background-color: rgba(100, 100, 100, 0.1);
}

.category ul > li:active > a {
    background-color: rgba(100, 100, 100, 0.2);
}

.category ul > li > a {
    text-decoration: none;
    display: list-item;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 2px 0;
    padding-left: 20px;
    max-width: calc(100% - 20px);
}
